@media screen and (min-width: 375px) and (max-width: 414px) {
  .header__contenedor {
    padding: 10px 10px;
    position: relative;
  }
  /* -------------- cambiando formato a logo  --------------*/

  .logo {
    text-decoration: none;
    color: var(--verde);
    font-size: 25px;
    font-weight: 600;
  }
  /* -------------- menu resposive -------------- */

  #menu {
    display: none;
    position: absolute;
    left: 0;
    top: 47px;
    background-color: white;
    z-index: 100;
    width: 100%;
    text-align: center;
  }

  .nav {
      flex-direction: row-reverse;
    gap: 10px;

  }

  .nav__a{
    color:black;
    }

  .luna {
    border-right: 1px solid #000;
    padding-right: 5px;
  }
  /* -------------- icono sadwich -------------- */
  .contenedor__sandwich {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #iconomenu {
    font-size: 20px;
  }

  /* -------------- about  ----------- */

  .about{
    flex-wrap: wrap;
    gap: 15px;
}

.componente__encabezado{
    width: 100%;
}

.componente__title{
    justify-content: center;
}

/* ------------ menu ------ */
.contenedor__contenido {
  gap: 20px;
}

.tabla__menu {
  flex-basis: 100%;
}


/*-------- galeria ----------- */
.contenedor__figure {
 padding: 0 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "gallary1"
    "gallary2"
    "gallary3"
    "gallary4"
    "gallary5"
    "gallary6"
    "gallary7"
     
    ;
  gap: 0.8em;
}

/* ----- historial o experiencia --- */

.contenedor__historial {
  gap: 50px;
}

.historial__article {
  width: 100%;
  padding-top: 60px;
}

/* -------- chefs ------- */
.chef__article {
  width: 100%;
}

.chefs__contenedor {
  gap: 20px;
}
/*---------- paralaxs --------*/

.pedido__contacto {
  flex-direction: column;
  gap: 15px;
}

/* ----- clientes ------*/

.contenedor__slider {
  flex-direction: column;
  /* justify-content: flex-start; */
  /* border: 1px red solid; */
}
.viewport {
  width: 350px;
  /* border: 1px red solid; */
}
.overview {
  justify-content: center;
  gap: 17px;
  padding-left: 17px;
  /* border: 1px rgb(0, 102, 255) solid; */
  
}

.cards {
  width: 340px;
  height: 180px;
  /* border: 1px red solid; */
}

.contenedor__textoequipo {
  width: 100%;
}
.cont_flechas {
  display: flex;
  gap: 10px;
  position: relative;
  top: 280px;
  left: 140px;
  z-index: 111111;
}

/* ------ blog ------ */
.blog__contenedor {
 gap: 10px;
}

/* ----- footer -------- */
.redes__sociales {
  justify-content: flex-start;
  gap: 30px;
  padding: 15px 25px;
}
}
